/* ----------------------------------- COLORS ----------------------------------- */

/* --------- BG --------- */

$c_bg_body: hsl(0, 0%, 95%);
$c_bg_card_1: hsl(31, 77%, 52%);
$c_bg_card_2: hsl(184, 100%, 22%);
$c_bg_card_3: hsl(179, 100%, 13%);

/* --------- TEXT --------- */

$c_txt_p: hsla(0, 0%, 100%, 0.75);
$c_txt_h: hsl(0, 0%, 95%);

/* --------- BTN --------- */

$c_btn_bg: hsl(0, 0%, 95%);